.app {
  display: grid;

  grid-template-areas: 
  'h h h'
  'n m m';
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;
}

.header__app {
  grid-area: h;

  background-color: aqua;
}

.img__logo {
  width: 40px;
}

.nav__app {
  grid-area: n;

  background-color: brown;
}

.main__app {
  grid-area: m;

  background-color: blue;
}

.profile__img {
  max-width: 100%;
  height: auto;
}